@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

:root{
    --primary-color: #d94f0b;
    --text-color: #000000;
}

html{
    font-size: 10px;
}

body{
    font-family: "Noto Sans", sans-serif;
    background-color: #2c2c2c;
    color: #000000;
}

/* common styles */
img{
    width: 100%;
}

button{
    padding: 6px;
    border: none;
    background: none;
    border-radius: 10%;
}

button:hover{
    background: #2c2c2c62;
}

button:active{
    background: #00000094;
}

a{
    text-decoration: none;
    color: #cf7c52;
}

a:hover{
    color: #d94f0b;
    font-weight: 700;
    transition: 0.3s;
}

.title{
    color: var(--primary-color);
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    background: #3f3f3f;
    padding-left: 1rem;
    color: rgb(215, 231, 231);
}

.sub_title{
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 2rem;
}

/* layouts */
.container{
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background:#d8d8d8;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.container#blur.active{
     filter: blur(15px);
     pointer-events: none;
     user-select: none;
}

@media only screen and (max-width:768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 2rem;
    }
}

.kontak{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}

.sub-kontak{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: rgb(27, 27, 27);
    font-weight: 400;
}

@media only screen and (max-width:768px){
    .kontak{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
        padding: 3rem;
    }
    .sub-kontak{
        font-size: clamp(0.8rem, 4vw, 1.5rem);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: rgb(27, 27, 27);
        font-weight: 400;
    }
}

.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

.group-1{
    display: flex;
    grid-column: 1/-1;
    flex-direction: row;
}

.group-2{
    display: flex;
    grid-column: 1/-1;
    flex-direction: column; 
}

.group-3{
    display: flex;
    grid-column: 1/-1;
    flex-direction: column;
}

.sub_sub_group{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.academic_year{
    margin-left: auto;
    margin-right: 0;
    padding-top: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #ac3a26;
    min-width: max-content;
}

.gpa{
    margin-left: auto;
    margin-right: 0;
    margin-top: 1rem;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 500;
    color: #3f3f3f;
}

#popup1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70vw;
    height: fit-content;
    max-width: 700px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background:#fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

#popup2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70vw;
    height: fit-content;
    max-width: 500px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background:#fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

#popup1.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup2.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/* profile */
.profile_container{
    display: flex;
    gap: 2rem;
}

.profile_tag{
    padding-top: 2rem;
}

.profile_profileImg{
    max-width: 250px;
    margin: 0 auto;
}

.profile_name{
    font-size: clamp(2rem, 8vw, 4rem);
    color: #2c2c2c;
    font-weight: 800;
    font-style: bold;
    text-transform: uppercase;
    line-height: 1.3;
    display: block;
}

.profile_title{
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
    .profile_container{
        flex-direction: column;
    }

    .profile_tag{
        margin: 0 auto;
        text-align: center;
    }
}

/* contents */
.list_description{
    margin-top: 1rem;
    margin-left: 2.5rem;
    line-height: 2;
    font-size: 1.3rem;
    font-weight: 600;
}

.description{
    margin-top: 1rem;
    line-height: 1.5;
    font-size: 1.3rem;
    font-weight: 600;
}

.items{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.item_tok{
    margin: 0 auto;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: rgb(27, 27, 27);
    font-weight: 400;
}

.close-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    text-align: center;
    cursor:pointer;
    border-radius: 100%;
    font-family: sans-serif;
}

.close-btn:hover{
    background: #2c2c2c60;
}

.close-btn:active{
    background: #2c2c2cbe;
}

#popup-title{
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 2px 2px #c2c1c1;
    font-size: clamp(2rem, 1.5vw, 4rem);
}

.popup-content{
    font-weight: 700;
    font-size: 1.5rem;
    padding: 5rem;
    line-height: 2;
}

.sub-description{
    margin-left: 2rem;
    font-weight: 400;
}